@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* TERCERA PANTLLA *@
<fieldset>
    <br /><br />
    <b style="font-size:20px">Hola <span style="color:#20A3FF" id="spNombreCliente"></span>,</b>
    <br /><br />
    <div class="form-group">
        <strong>
            Se ha enviado un código de verificación a tu correo. Por favor ingrésalo para continuar con la solicitud
        </strong><br /><br /><br />
        <input type="text" id="txt_correo_validacion" name="correo" class="email form-control" data-validate="true" data-type="email" disabled="disabled" style="font-size:12px; text-align:center;">
        <br />
    </div>
    <div align="center">
        <input type="text" name="clave" id="clave" maxlength="4" class="form-control text-center" placeholder="Ingresar código" style="margin-top:20px; width:170px;height:40px" required>
    </div>
    <div align="center">
        <a href="#" onclick="ValidacionToken()" id="btnReenviar"><u>Reenviar código</u></a>
        <div id="reenviarCodigo" class="text-primary text-center" style="display:none"><small>(*) Código reenviado a tu correo</small></div><br />
        <div id="errorCodigo" class="text-danger text-center" style="display:none"><small>(*) Código ingresado incorrecto</small></div>

    </div>

    <div class="f1-buttons">
        <br />
        <button type="button" id="btnDesembolsar" class="btn btn-next" onclick="ConfirmarToken()">Solicitar Desafiliación</button>
        <br /><br />
        <button type="button" id="btnVolverPantalla3" class="btn btn-previous" onclick="Volver()">Volver</button>
    </div>

</fieldset>

<script type="text/javascript">

    $(document).ready(function () {
        if (sessionStorage.CodCliente == undefined) {
            Volver();
        }

        /*SETEAR PASO*/

        $('#f1').removeClass("active");
        $('#f2').addClass("active");
        $('#f3').removeClass("active");

        /*obtener nombre del cliente: nombre  sessionStorage.URL */
        var Cliente = {};
        Cliente.CodigoCliente = sessionStorage.CodCliente;

        /*OBTENER DATOS CLIENTE*/
        $.ajax({
            url: sessionStorage.URL + '/AfiliacionDesafiliacion/ObtenerNombreCliente',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            processData: true,
            data: JSON.stringify(Cliente),
            success: function (response) {

                if (response.Result) {
                    $("#txt_correo_validacion").val(response.Data.Correo);
                    $("#spNombreCliente").text(response.Data.NombreCliente);
                }

                $.unblockUI();
            },
            failure: function (msg) {
                console.log(msg);
                $.unblockUI();
            },
            error: function (xhr, status, error) {
                console.log(error);
                $.unblockUI();
            },
            complete: function () {
                //$.unblockUI();
                //$("#prueba").dialog("close")
            }
        });

    });

    function ValidacionToken() {
        var Token = {};
        Token.CodigoCliente = sessionStorage.CODCLIENTE;

        $.ajax({
            url: sessionStorage.URL + '/SolicitarDesafiliacion/EnviarToken',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            processData: true,
            data: JSON.stringify(Token),
            success: function (response) {
                $.unblockUI();
                if (response.Enviado) {

                    alert('Se ha enviado una clave de verificación, revisar su correo');

                } else {
                    alertify.error('ERROR', 'Ocurrio un error interno, intente de nuevo mas adelante.')
                    //alert('Ocurrio un error interno, intente de nuevo mas adelante.');
                }
            },
            failure: function (msg) {
                console.log(msg);
                $.unblockUI();
            },
            error: function (xhr, status, error) {
                console.log(error);
                $.unblockUI();
            },
            complete: function () {
                //$.unblockUI();
                //$("#prueba").dialog("close")
            }
        });
    }

    function ConfirmarToken() {
        //TOKEN
        var Confirmar = {};
        Confirmar.CodigoCliente = sessionStorage.CODCLIENTE;
        Confirmar.Token = $('#clave').val();

        $.ajax({
            url: sessionStorage.URL + '/SolicitarDesafiliacion/ConfirmarToken',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            processData: true,
            data: JSON.stringify(Confirmar),
            success: function (response) {
                console.log(response);
                if (response.Result) {

                    FN_Loading();
                    alert('Verificado');
                    window.location.href = sessionStorage.URL + "/Desafiliacion";

                } else {
                    alert('Los datos que ha ingresado no son correctos.');
                }

                $.unblockUI();
            },
            failure: function (msg) {
                console.log(msg);
                $.unblockUI();
            },
            error: function (xhr, status, error) {
                console.log(error);
                $.unblockUI();
            },
            complete: function () {
                //$.unblockUI();
                //$("#prueba").dialog("close")
            }
        });
    }

    function Volver() {

        sessionStorage.clear();
        window.history.back();
    }


</script>